In [1]:
pip install pandas numpy matplotlib seaborn scikit-learn

Requirement already satisfied: pandas in c:\users\rafae\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy in c:\users\rafae\appdata\local\programs\python\python313\lib\site-packages (2.2.5)
Requirement already satisfied: matplotlib in c:\users\rafae\appdata\local\programs\python\python313\lib\site-packages (3.10.1)
Requirement already satisfied: seaborn in c:\users\rafae\appdata\local\programs\python\python313\lib\site-packages (0.13.2)
Requirement already satisfied: scikit-learn in c:\users\rafae\appdata\local\programs\python\python313\lib\site-packages (1.6.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rafae\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\rafae\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\rafae\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\rafae\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\rafae\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\rafae\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\rafae\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\rafae\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\rafae\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\rafae\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: scipy>=1.6.0 in c:\users\rafae\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in c:\users\rafae\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.5.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\rafae\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: six>=1.5 in c:\users\rafae\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [17]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix

In [3]:
df = pd.read_csv("C:\\Users\\rafae\\Downloads\\archive (4)\\student_habits_performance.csv")

# Visualizacao das primeiras linhas
df.head()

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score
0,S1000,23,Female,0.0,1.2,1.1,No,85.0,8.0,Fair,6,Master,Average,8,Yes,56.2
1,S1001,20,Female,6.9,2.8,2.3,No,97.3,4.6,Good,6,High School,Average,8,No,100.0
2,S1002,21,Male,1.4,3.1,1.3,No,94.8,8.0,Poor,1,High School,Poor,1,No,34.3
3,S1003,23,Female,1.0,3.9,1.0,No,71.0,9.2,Poor,4,Master,Good,1,Yes,26.8
4,S1004,19,Female,5.0,4.4,0.5,No,90.9,4.9,Fair,3,Master,Good,1,No,66.4

In [4]:
# Tamanho do dataset
print("Tamanho:", df.shape)

# Tipos de dados
df.dtypes

# Resumo estatístico
df.describe()

Tamanho: (1000, 16)

,age,study_hours_per_day,social_media_hours,netflix_hours,attendance_percentage,sleep_hours,exercise_frequency,mental_health_rating,exam_score
count,1000.0000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,20.4980,3.55010,2.505500,1.819700,84.131700,6.470100,3.042000,5.438000,69.601500
std,2.3081,1.46889,1.172422,1.075118,9.399246,1.226377,2.025423,2.847501,16.888564
min,17.0000,0.00000,0.000000,0.000000,56.000000,3.200000,0.000000,1.000000,18.400000
25%,18.7500,2.60000,1.700000,1.000000,78.000000,5.600000,1.000000,3.000000,58.475000
50%,20.0000,3.50000,2.500000,1.800000,84.400000,6.500000,3.000000,5.000000,70.500000
75%,23.0000,4.50000,3.300000,2.525000,91.025000,7.300000,5.000000,8.000000,81.325000
max,24.0000,8.30000,7.200000,5.400000,100.000000,10.000000,6.000000,10.000000,100.000000

In [6]:
print(df.isnull().sum())

# Remover duplicatas 
df.drop_duplicates(inplace=True)

student_id                        0
age                               0
gender                            0
study_hours_per_day               0
social_media_hours                0
netflix_hours                     0
part_time_job                     0
attendance_percentage             0
sleep_hours                       0
diet_quality                      0
exercise_frequency                0
parental_education_level         91
internet_quality                  0
mental_health_rating              0
extracurricular_participation     0
exam_score                        0
dtype: int64

In [8]:
#Tratamento de outliers 
for col in df.select_dtypes(include=[np.number]).columns: 
    q1 = df[col].quantile(0.25)
    q3 = df[col].quantile(0.75)
    iqr = q3 - q1
    df = df[(df[col] > (q1 - 1.5*iqr)) & (df[col] < (q3 +1.5*iqr))]

In [10]:
#Transformação de variáveis categóricas 
label_encoder = LabelEncoder()
for col in df.select_dtypes(include=['object']).columns:
    df[col] = label_encoder.fit_transform(df[col])

In [14]:
#Normalização 
scaler = StandardScaler()
numeric_cols = df.select_dtypes(include=[np.number]).columns
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

In [15]:
df.to_csv('processed_studednt_habits.csv' , index=False)

In [ ]:
#Início da análise exploratória

In [18]:
# Estatísticas básicas
print(df.describe())

         student_id           age        gender  study_hours_per_day  \
count  9.770000e+02  9.770000e+02  9.770000e+02         9.770000e+02
mean  -5.818160e-17  6.618156e-16  2.909080e-17         4.727255e-17
std    1.000512e+00  1.000512e+00  1.000512e+00         1.000512e+00
min   -1.730279e+00 -1.517144e+00 -9.800139e-01        -2.458280e+00
25%   -8.651394e-01 -6.505847e-01 -9.800139e-01        -7.153125e-01
50%    0.000000e+00 -2.173050e-01  7.608471e-01        -1.812544e-02
75%    8.651394e-01  1.082534e+00  7.608471e-01         6.790616e-01
max    1.730279e+00  1.515814e+00  2.501708e+00         2.631185e+00

       social_media_hours  netflix_hours  part_time_job  \
count        9.770000e+02   9.770000e+02   9.770000e+02
mean        -4.363620e-17   1.672721e-16  -1.199995e-16
std          1.000512e+00   1.000512e+00   1.000512e+00
min         -2.159082e+00  -1.705085e+00  -5.216660e-01
25%         -6.806159e-01  -7.588918e-01  -5.216660e-01
50%          1.513271e-02  -1.936937e-03  -5.216660e-01
75%          7.108814e-01   6.603986e-01  -5.216660e-01
max          2.711159e+00   2.647405e+00   1.916935e+00

       attendance_percentage   sleep_hours  diet_quality  exercise_frequency  \
count           9.770000e+02  9.770000e+02  9.770000e+02        9.770000e+02
mean            8.181787e-16  1.999992e-16  5.090890e-17       -9.999962e-18
std             1.000512e+00  1.000512e+00  1.000512e+00        1.000512e+00
min            -2.643266e+00 -2.676172e+00 -9.972019e-01       -1.503525e+00
25%            -6.683420e-01 -7.088129e-01 -9.972019e-01       -1.009264e+00
50%             1.858825e-02  2.894655e-02  3.447627e-01       -2.074176e-02
75%             7.269851e-01  6.847328e-01  3.447627e-01        9.677804e-01
max             1.703714e+00  2.734065e+00  1.686727e+00        1.462041e+00

       parental_education_level  internet_quality  mental_health_rating  \
count              9.770000e+02      9.770000e+02          9.770000e+02
mean               1.363631e-17     -7.999969e-17         -1.218177e-16
std                1.000512e+00      1.000512e+00          1.000512e+00
min               -1.063206e+00     -1.087944e+00         -1.557940e+00
25%               -1.063206e+00     -1.087944e+00         -8.565079e-01
50%                3.274762e-03      3.273974e-01         -1.550760e-01
75%                1.069756e+00      3.273974e-01          8.970717e-01
max                2.136236e+00      1.742739e+00          1.598504e+00

       extracurricular_participation    exam_score
count                   9.770000e+02  9.770000e+02
mean                   -3.272715e-17 -3.818167e-16
std                     1.000512e+00  1.000512e+00
min                    -6.849620e-01 -2.597421e+00
25%                    -6.849620e-01 -6.587301e-01
50%                    -6.849620e-01  4.952225e-02
75%                     1.459935e+00  6.917510e-01
max                     1.459935e+00  1.832157e+00

In [19]:
# Visualizações TIRAR GPA 
plt.figure(figsize=(12, 6))
sns.histplot(df['GPA'], kde=True)
plt.title('Distribuição do GPA')
plt.show()

KeyError: 'GPA'